# Run "pipenv lock" every time you update the pipfile before pushing

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
flask-pymongo = "*"
python-dotenv = "*"
flask-bcrypt = "*"
mongo = {extras = ["srv"], version = "*"}
dnspython = "*"
pytest-html = {editable = true,path = "."}

[dev-packages]
flake8 = "*"
nose = "*"
coverage = "*"
pytest-rerunfailures = "*"

[requires]
python_version = ">3.8"
