flask==1.1.2
flake8==3.9.1

pip install pipenv
pipenv install flask flask_pymongo python-dotenv
pipenv install 'mongo[srv]' dnspython python-dotenv
pipenv install flask flask_bcrypt python-dotenv
#pip install flask-mongoengine
#pip install flask-bcrypt
