<html>
<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<H1 style="text-align:center" >Hello, {{firstName}} </H1>
<h3 style="text-align:center"><a href="/getFlights">View All Scheduled Flights</a>
<h3 style="text-align:center"><a href="/chatroom">Log in to the chatroom (Coming soon!!!)</a>
<h3 style="text-align:center"><a href="/occupiedRunways">Free up a runway</a>
<h3 style="text-align:center"><a href="/occupiedGates">Free up a gate</a>

<br><br>
<a href="/logout">Logout</a>
<br><br>
<a href="/">Go back</a>


</body>

</html>
