<html>
<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body style="text-align:center">

What Admin do you want to delete?
<br>

<form action="/removeUser" method="POST">

    {% for user in user_list %}
    <input type="radio" name="user" value={{user['username']}} required> {{user['username']}}</input>
        <br>
    {% endfor %}
    
    <input type="submit" value="Delete User">
    </form>
    
    <a href="/showUser">Home</a>
    <a href="/logout">Logout</a>
    
    </body>
    </html>
</html>
