<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>


<body style="text-align:center">
<form action="/delete" method="POST">
	<p>Please select your role:</p>
	<input type="radio" id="atc" name="role" value="atc" required>
	<label for="atc">ATC</label><br>
	<input type="radio" id="pilot" name="role" value="pilot">
	<label for="pilot">Pilot</label><br>
    
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>