<html>

<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body style="text-align:center">

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<H1 style="text-align:center" >Your Flight Information, {{name}} </H1>

<h3 style="text-align:center">Airplane ID: {{airplaneID}} </h3>
<h3 style="text-align:center">Arrival Time: {{arrivalTime}} </H3>
<h3 style="text-align:center">Arrival Location: {{arrivalLocation}} </h3>

<br> 
<input type="submit" name = "emergency" value = 'EMERGENCY LANDING' />
<br>

<br>
<a href="/logout">Logout</a>

</body>

</html>
