<html>

<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<h1 style="text-align:center"> Register A New Admin</h1>
<body style="text-align:center">
<form action="/registerAdminAuth" method="POST">
	<input type="text" name = "username" placeholder="Username" required/> </br>
	<input type="password" name = "password" placeholder="Password" required/></br>
	<input type="test" name = "first_name" placeholder="First Name" required/> </br>
	<input type="text" name = "last_name" placeholder="Last Name" required/> </br>
	<input type="text" name = "email" placeholder="Email" required/> </br>
	<input type="text" name = "phone_no" placeholder="Phone No." required/> </br>

	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>


</html>
