<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here's a list of all scheduled flights:

<table>
	<th> Select </th>
	<th>ID</th>
	<th>Arrival Time</th>
	<th>Departure Time</th>
	<th>Departure Location/th>
	<th>Arrival Location</th>
	<th> Airplane ID</th>
	<th> Gate Number </th>

{% for flight in flights %}
	<tr>
		<td> <input type="radio" id="select" name="select" value="select" required>
			<label for="select"></label><br> </td>
		<td>{{flight['_id']}}</td>
		<td>{{flight['arrivalTime']}}</td>
		<td>{{flight['departureTime']}}</td>
		<td>{{flight['departureLocation']}}</td>
		<td>{{flight['arrivalLocation']}}</td>
		<td>{{flight['airplaneId']}}</td>
		<td>{{flight['gate']}}</td>
	</tr>
{% endfor %}
</table>

<br>
<input type="submit" value = Continue />
{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
<br>

<br>
<a href="/atcLanding">Back</a>
<br>
<a href="/logout">Logout</a> 

</body>


</html>
